* {
    border: 1px solid black;
}


#calculator {
    display: flex;
    justify-content: center;
    height: 100vh;
    background-color: #DAFFFB;
}

#container {
    height: 510px;
    width: 400px;
    align-self: center;
    background-color: #04364A;
    padding: 10px;

}

#display {
    height: 90px;
    background-color: #F0F0F0;
    border: 5px solid black;
   
}

.row {
    display: flex;
    height: 82px;
    justify-content: space-between;
    box-sizing: border-box;
    background-color: black;
    
}

.button {
    flex-basis: 24%;
   background-color: #64CCC5; 
    text-align: center;
    line-height: 80px;
    font-size: 35pt;
}

#zero {
    flex-basis: 49%;
}

.button.top-row {
    background-color: rgb(30, 144, 255);
}

.button.operators {
    background-color: #FF8F1F;
}